<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Costing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Costing.Properties.Settings>
            <setting name="CostingDB" serializeAs="String">
                <value>Costing</value>
            </setting>
            <setting name="SysproDB" serializeAs="String">
                <value>SysproCompanyR</value>
            </setting>
            <setting name="SysproServer" serializeAs="String">
                <value>RA-ERP</value>
            </setting>
            <setting name="CostingServer" serializeAs="String">
                <value>RA-ERP</value>
            </setting>
            <setting name="ImportPathWages" serializeAs="String">
                <value />
            </setting>
            <setting name="ImportPathCosting" serializeAs="String">
                <value />
            </setting>
        </Costing.Properties.Settings>
    </userSettings>
</configuration>